.del {
  background: #ff0000;
  color: #fff;
  border: outset;
  padding: 0.5rem 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  float: right;
}

.post {
  background: #f4f4f4;
  padding: 3rem;
  border-bottom: 1px #ccc dotted;
}
.header {
  padding: 0.5rem;
}
